@page "{id}"
@model Ghas.Pages.EditProfile

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
<div>
    <!-- Make a form to edit the profile -->
    <form method="post">
        <input type="hidden" asp-for="Person.Id"/>
        <input asp-for="Person.Name"/>
        <input asp-for="Person.Age"/>
        <textarea asp-for="Person.Description"></textarea>
        <button type="submit">Save</button>
    </form>
</div>
</body>
</html>